body {
    background-color: #000000; /* 배경색을 원하는 색상으로 지정 */
}

/* header 스타일 */
header {
    color: white; /* 텍스트 색상을 지정하세요 */
    padding: 20px; /* 위, 아래, 왼쪽, 오른쪽 여백을 조절하세요 */
    text-align: center; /* 텍스트를 가운데 정렬하세요 */
    display: flex; /* 헤더 내부 요소를 가로로 배치하기 위해 Flex 레이아웃 사용 */
    justify-content: space-between; /* 좌우 간격을 최대화하여 좌우 배치 */
    align-items: center; /* 수직 중앙 정렬 */
}

/* 네비게이션 메뉴 스타일링 */
nav ul {
    list-style: none; /* 목록 스타일 제거 */
    padding: 0; /* 목록의 패딩을 0으로 설정 */
    display: flex; /* 목록을 가로로 배치하기 위해 Flex 레이아웃 사용 */
}

nav ul li {
    margin-right: 20px; /* 각 항목 사이의 간격을 설정 */
}

/* 링크 스타일링 */
nav ul li a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: #fff; /* 링크 텍스트 색상을 흰색으로 설정 */
}

/* section 스타일 */
section {
    padding: 40px;
    padding-top: 13%;
    padding-bottom: 13%;
    text-align: center; /* 텍스트 가운데 정렬 */
}

/* 버튼 스타일 */
.horizontal-button {
    background-color: transparent; /* 배경색을 투명하게 설정 */
    margin: 50px; /* 버튼 사이의 간격 */
    width: 300px;
    height: 150px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px; /* 버튼 내부 여백 조절 (위아래 10px, 좌우 20px) */
    color: white;
    font-size: 20px;
    cursor: pointer; /* 마우스 커서 모양을 포인터로 설정 (클릭 가능한 요소로 표시) */
}

/* 버튼 호버 효과 (마우스를 올렸을 때) */
.horizontal-button:hover {
    background-color: gray; /* 마우스 호버 시 배경색을 회색으로 변경 */
    color: white; /* 마우스 호버 시 텍스트 색상을 흰색으로 변경 */
}

footer {
    color: #fff;
    text-align: center;
    padding: 20px 0;
}